/* ---------- fw__container1 ---------- */
.fw__container1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.fw__container1--element {
    justify-content: center;
    justify-items: center;
}

.fw__container1--item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 5px;
    margin-bottom: 30px;
}
.fw__container1--item1-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 5px;
} 

.fw__container1--item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5px;
    margin-bottom: 25px;
}
.fw__container1--item2 div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.fw__container1--item2 div img {width: 25px;height: 25px; margin-left: 5px;}

.fw__container1--item2-2 {
    display: flex;
    flex-direction: column;
}
.fw__container1--item2-2 button {margin: 10px;height: 30px; width: 170px;}
.fw__button {background-color: #777;color: #eee;}

/* ---------- fw__container2 ---------- */
.fw__container2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fw__container2--element1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.fw__container2--element1 img {width: 30px;height: 25px;margin-left: 5px;}

.fw__container2--element2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
}
.fw__container2--element2 img {width: 300px;margin: 0px 30px 0px 30px;}

/* ---------- fw__container3 ---------- */
.fw__container3 {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.fw__container--element1 {display: flex;flex-direction: column;}
.fw__container--element1 h3 {font-size: 20px;}
.fw__element1--item1 p {font-size: 16px;}
.fw__element1--item2 h3 {font-size: 20px;}
.fw__element1--item2 p {font-size: 24px; font-weight: 550;color: #3d3;}

@media screen and (max-width: 1110) {
    .fw__container3--element1 {
        width: 100%;
    }
}